#about_us{
    max-width: 900px;
    margin: 70px auto;
    text-align: justify;
    background: rgb(255, 255, 255);
}

#about_us > h3{
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 10px;
    font-family:'Montserrat', sans-serif;
    color: var(--darkBlue);
}

#about_us > p{
    text-align: justify;
    line-height: 30px;
    margin-bottom: 20px;
    font-family:'Montserrat', sans-serif;
}

.person{
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 0px;
    font-family:'Montserrat', sans-serif;
    color: var(--darkBlue);
}

.text-book{
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 10px;
    font-family:'Montserrat', sans-serif;
    color: var(--darkBlue);
}

#group{
    display: flex;
}

.team_photo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team_photo > img{
    width: 105px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.team_photo > img:hover{
    box-shadow: 3px 3px 3px var(--darkBlue);
    border-radius: 100%;
    background-color: var(--darkBlue);
    transform: scale(1.2);
}
  