#footer{
    width: 100%!important;
    background: var(--darkBlue)!important;
    color: var(--secondWhite)!important;
}

#footer_container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 35px 70px 15px;
    width: 100%;
}

#footer_informaiton {
    display: flex;
    flex-direction: column;
}

#info_title {
    font-weight: bold!important;
    font-size: 20px;
    margin-left: 10px;
    text-align:initial;
}

#infos{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-left: 10px;
}

#infos{
    display: flex;
    align-items: center;
}

.contact{
    width: 25px;
}
.social_media{
    width: 25px;
}

#footer_phrase{
    max-width: 300px;
}

#footer_phrase > p{
    margin-top: 20px;
}

#footer_logo{
    font-weight: bold!important;
    font-size: 20px;
    margin-left: 10px;
    text-align:initial;
    transition: all 0.2s ease-in-out;
}