<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livraria Futuro</title>

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'app/css/globalstyle.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/header.css' %}">
    <link rel="stylesheet" href="css/home/globalstyle.css">
    <link rel="stylesheet" href="css/home/header.css">
    <link rel="stylesheet" href="css/home/banner.css">
    <link rel="stylesheet" href="css/home/category.css">
    <link rel="stylesheet" href="css/home/card.css">
    <link rel="stylesheet" href="css/home/aboutUs.css">
    <link rel="stylesheet" href="css/home/footer.css ">
    <link rel="stylesheet" href="css/home/modal.css">
    <script src="js/modal.js"></script>


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
    <div id="container">
        <header id="header">
            <a class="logo" href="#">
                <img class="pointer" src="images/logo.png" alt="Ilustração de livro aberto">
                <span>Livraria Futuro</span>
            </a>

            <nav id="nav">
                <ul id="menu" role="menu">
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Livros</a></li>
                    <li><a href="#">Sobre nós</a></li>
                </ul>
            </nav>

            <div id="search_field">
                <input class="input pointer" type="text" placeholder="Pesquise livros" pattern=".+" required />
                <button class="submit_lente pointer" type="submit">
                    <img src="images/icons/search.svg" alt="ícone de lupa">
                </button>
            </div>

            <div id="header_icons">
                <a href="#">
                    <div id="user_login">
                        <img class="pointer" src="images/icons/login.svg" alt="Ícone de login da conta">
                        <span>Faça seu login ou Cadastra-se</span>
                    </div>
                </a>

                <div id="heart_icon">
                    <img class="pointer" src="images/icons/full_heart.png" alt="Ícone de coração">
                </div>
            </div>
        </header>

        <main>
            <div id="initial_banner">
                <div id="presentationText">
                    <h1>Doe um livro, transforme uma vida.</h1>
                    <p>Junte-se a nós nessa missão de tornar o conhecimento acessível a todos.
                    </p>
                    <a href="#">Cadastre um Livro</a>
                </div>

                <div id="imgPresentation">
                    <img src="images/banner.png" alt="Ilustração de menino colocando um livro em uma prateleira">
                </div>
            </div>

            <nav id="nav_categories">
                <div>
                    <h2>Categorias de Livros:</h2>
                    <h4>Diversas opções para gostos variados :)</h4>
                </div>
                <ul id="menu_categories">
                    <li><a href="#">Romance</a></li>
                    <li><a href="#">Mistério</a> </li>
                    <li><a href="#">Quadrinhos</a></li>
                    <li><a href="#">Autoajuda</a></li>
                    <li><a href="#">Biografia</a></li>
                    <li><a href="#">Terror</a></li>
                    <li><a href="#">Poesia</a></li>
                    <li><a href="#">Fantasia</a></li>
                </ul>
            </nav>

            <div id="container_cards">
                <div class="book_card">
                    <img class="card_image pointer" src="images/livroTeste.jpg" alt="capa do livro {xx}">

                    <div class="book_informations">
                        <p class="book_price">R${00,00}</p>
                        <p class="book_title">{Title}</p>
                        <p class="book_author">{Author}</p>
                    </div>

                    <footer class="footer_card">
                        <a class="book_add_car">Comprar</a>
                        <img class="book_favorite pointer" src="images/icons/empty_heart.png" alt="ícone de coração">
                    </footer>
                </div>
            </div>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Informações do livro</h4>
                    </div>
                    <div class="modal-body">
                      <p><strong>Doador:</strong> João Silva</p>
                      <p><strong>Telefone para contato:</strong> (11) 99999-9999</p>
                      <p><strong>Descrição:</strong> Livro em ótimo estado de conservação. Trata-se de uma história emocionante sobre superação e amizade.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                  </div>
              
                </div>
              </div>
              

            <div id="about_us">
                <h3>Sobre nós</h3>
                <p>
                    A Livraria Futuro foi criada pelos alunos do curso de Análise e desenvolvimento de sistemas da
                    faculdade
                    Unirriter campus Futuro em Porto Alegre, RS.
                </p>
                <p>
                    A iniciativa surgiu através do desenvolvimento de um projeto avaliativo da disciplina de Sistemas
                    Distribuídos e
                    Desenvolvimento web, mobile e jogos e busca trazer conceitos como criação e consumo de API com
                    Python e
                    Djando, assim
                    como html e css.
                </p>
                <p>
                    Acreditamos que o conhecimento é um direito de todos, e que todos devem ter a oportunidade de aprender e crescer. Por isso, criamos a Livraria do Futuro, uma plataforma online que conecta pessoas que querem doar livros com pessoas que precisam deles.
                    Nosso objetivo é tornar o conhecimento acessível a todos, independentemente de sua classe social, localização ou situação financeira. Acreditamos que a educação é a chave para um futuro melhor, e que todos devem ter a oportunidade de aprender e se desenvolver.
                    A Livraria do Futuro é uma plataforma segura e confiável, onde as pessoas podem doar e receber livros com tranquilidade. Trabalhamos para garantir que todas as transações sejam realizadas de forma segura e transparente.
                    Além disso, estamos comprometidos com a união de pessoas em torno de um propósito comum: a promoção da educação e da cultura. Acreditamos que a educação é um caminho para a transformação social, e que todos devemos trabalhar juntos para construir um mundo mais justo e igualitário.
                    
                    <p>Doe um livro, transforme uma vida.</p>
                </p>

                <div id="group">
                    <div>
                        <img src="" alt="">
                        <p>Adri</p>
                    </div>
                    <div>
                        <img src="images/leo.png" alt="">
                        <p>Leo</p>
                    </div>
                    <div>
                        <img src="images/mari.png" alt="">
                        <p>Mari</p>
                    </div>
            </div>
        </main>
    </div>
    <footer id="footer">
        <div id="footer_container">
            <div id="footer_informaiton">
                <h3 id="info_title">Contato</h3>

                <div id="infos">
                    <img class="infos_icon contact" src="images/icons/phone.svg" alt="Ícone de telefone">
                    <p id="infos_text">(55) 51 0000-0000</p>
                </div>

                <div id="infos">
                    <img class="pointer infos_icon contact" src="images/icons/email.svg" alt="ícone de carta">
                    <p class="pointer" id="infos_text">livrariafuturo@email.com</p>
                </div>
            </div>

            <div id="footer_informaiton">
                <h3 id="info_title">Redes Sociais</h3>

                <div id="infos" class="pointer">
                    <img class="infos_icon social_media" src="images/icons/instagram.png" alt="Logo do instagram">
                    <p id="infos_text">@livrariaFuturo</p>
                </div>

                <div id="infos" class="pointer">
                    <img class="infos_icon social_media" src="images/icons/facebook.svg" alt="Logo do Facebook">
                    <p id="infos_text">Livraria Futuro</p>
                </div>
            </div>

            <div id="footer_phrase">
                <a class="logo" href="#">
                    <img class="infos_icon" src="images/logo_white.png" alt="Ilustração de livro aberto">
                    <span id="footer_logo">Livraria Futuro</span>
                </a>
                <p>Os livros nos levam a lugares inimagináveis, com eles tudo é possível.</p>
            </div>
        </div>
    </footer>
</body>

</html>