<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livraria Fapa</title>

    <!-- Style -->
    <link rel="stylesheet" href="css/globalstyle.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/banner.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
</head>

    <header id="header">
        <a id="logo" href="#">
            <img src="images/logo.svg" alt="Ícone da loja">
            <span>Livraria Fapa</span>
        </a>

        <nav id="nav">
            <ul id="menu" role="menu">
                <li><a href="#">Início</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Livros</a></li>
                <li><a href="#">Localização</a></li>
            </ul>   
        </nav>

        <div id="search_entry">
            <input class="input" type="text" placeholder="Pesquise livros" pattern=".+" required />
            <button class="submit_lente" type="submit">
                <img src="images/lupa.svg" alt="ícone de lupa">
            </button>
        </div>
    
        <div id="icones_header">
    
            <a href="#">
                <div id="user_login">
                    <img src="images/login.svg" alt="Ícone de login da conta">
                    <span>olá, faça seu login ou cadastra-se</span>
                </div>
            </a>
    
            <div id="heart_icon">
                <img src="images/favoritos.svg" alt="Ícone dos favoritos">
            </div>
    
            <div id="shopping_cart">
                <img src="images/carrinho.svg" alt="Ícone de carrinho de compra">
                <span>R$ 0,00</span>
            </div>
        </div>
    
    </header>

    <main>
    <div id="presentation" class="general_formatting">
        <div id="presentationText">
            <h1>Aqui você encontra o que procura :)</h1>
            <p>Nossa loja oferece a você os melhores livros para florescer sua imaginação.</p>
            <a href="#slider_multiple_items1">Nossos produtos</a>
        </div>

        <div id="imgPresentation">
            <img src="images/banner.png" alt="Livro">
        </div>
    </div>


    </main>
    
</body>
</html>