db.sqlite3
modeloapp/__pycache__/*
/apps/categories/__pycache__/*
/apps/categories//*
/apps/products/__pycache__/*
/apps/products//*
/apps/socialnetworks/__pycache__/*
/apps/socialnetworks//*
/apps/clients/__pycache__/*
/apps/clients//*
/apps/orders/__pycache__/*
/apps/orders//*