.book_price {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 35px;
    color: #241400;
}

.book_title {
    font-size: 0.75rem;
    color: #241400;
    font-weight: bold;
}

.book_author {
    font-size: 0.75rem;
    font-weight: 400;
}
