#nav_categories {
    max-width: 100%;
    margin-top: 70px;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav_categories h1 {
    text-align: center;
}

#menu_categories {
    display: flex;
    gap: 35px;
}

#menu_categories>div {
    display: flex;
}

#menu_categories>div>li {
    margin-right: 40px;
}


/* @media (max-width: 1000px) {
    #nav_categories {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}

@media (max-width: 750px) {
    #nav_categories>div {
        width: 100vw;
    }

    #menu_categories {
        max-width: 100vw;
        flex-direction: column;
    }

    #menu_categories>div {
        margin-bottom: 20px;
        justify-self: center;
        justify-content: center;
    }
}

@media (max-width: 450px) {
    #nav_categories {
        width: 100vw;
    }

    #menu_categories {
        margin-top: 10px;
    }
} */