#footer{
    width: 100%;
    background: var(--darkBlue);
    color: var(--secondWhite);
}

#footer_container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    max-width: 85%;
}

#footer_informaiton {
    display: flex;
    flex-direction: column;
}

#info_title {
    font-weight: bold;
    margin-bottom: 30px;
}

#infos{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 15px;
}

#infos{
    display: flex;
    align-items: center;
}

.contact{
    width: 25px;
}
.social_media{
    width: 30px;
}

#footer_phrase{
    max-width: 300px;
}

#footer_phrase > p{
    margin-top: 20px;
}

#footer_logo{
    color: var(--secondWhite);
}