* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0px 70px 100PX;
}

:root{
    --black: #000;
    --white: #fff;
    --secondWhite: #F2F2F2;
    --lightGray: #9e9e9e;
    --darkBlue: #2D446E;
    --green: #65AA92;
}

a {
    cursor: pointer;
    color: var(--black);
}

a:hover{
    color: var(--darkBlue);
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}