#nav_categories {
    max-width: 100%;
    margin: 70px 0;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu_categories {
    display: flex;
    gap: 35px;
}

#menu_categories > div {
    display: flex;
}

#menu_categories > div > li {
    margin-right: 40px;
}