{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livraria Fapa</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'style/header.css' %}">
    <link rel="stylesheet" href="{% static 'style/footer.css' %}">
    <link rel="stylesheet" href="{% static 'style/aboutUs.css' %}">
    <link rel="stylesheet" href="{% static 'style/card.css' %}">
    <link rel="stylesheet" href="{% static 'style/category.css' %}">
    <link rel="stylesheet" href="{% static 'style/banner.css' %}">
    <link rel="stylesheet" href="{% static 'style/globalstyle.css' %}">
</head>

<body>
    <header id="header">
        <a class="logo" href="/books">
            <img class="pointer" src="{% static 'images/logo.png' %}" alt="Ilustração de livro aberto">
            <span>Livraria Fapa</span>
        </a>

        <nav id="nav">
            <ul id="menu" role="menu">
                <li><a href="#initial_banner">Início</a></li>
                <li><a href="#nav_categories">Categorias</a></li>
                {% if request.user.is_authenticated %}
                  <li><a href="#container_cards">Livros</a></li>
                {% else %}
                
                {% endif %}
                <li><a href="#about_us">Sobre nós</a></li>
            </ul>
        </nav>

        <div id="search_field">
            <input class="input pointer" type="text" placeholder="Pesquise livros" pattern=".+" required />
            <button class="submit_lente pointer" type="submit">
                <img src="{% static 'images/icons/search.svg' %}" alt="ícone de lupa">
            </button>
            <a class="logo" href="/books">
                <img class="pointer" src="{% static 'images/logo.png' %}" alt="Ilustração de livro aberto">
                <span>Livraria Fapa</span>
            </a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#initial_banner">Início <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="##nav_categories" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categoria de Livros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Todos os Livros</a>
                        <a class="dropdown-item" href="#">Romance</a>
                        <a class="dropdown-item" href="#">Mistério</a>
                        <a class="dropdown-item" href="#">Quadrinhos</a>
                        <a class="dropdown-item" href="#">Autoajuda</a>
                        <a class="dropdown-item" href="#">Biografia</a>
                        <a class="dropdown-item" href="#">Terror</a>
                        <a class="dropdown-item" href="#">Poesia</a>
                        <a class="dropdown-item" href="#">Fantasia</a>
                      </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#about_us">Sobre Nós</a>
                  </li>
              </ul>
              <a class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar livros" pattern=".+" required />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <img src="{% static 'images/icons/search.svg' %}" alt="ícone de lupa">
                </button>
            </a>
        

        <div id="header_icons">
            <img src="{% static 'images/icons/login.svg' %}" alt="Ícone de login da conta">

            {% if request.user.is_authenticated %}
                <p>Olá, {{ request.user.username }} !</p>
            {% else %}
                <a href="{% url 'login' %}">Olá, faça seu login ou cadastra-se</a>
            {% endif %}
            
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">Sair</a>
            {% endif %} 
        </div>
    </header>

    <div id="container">
        <main>
            
            <div id="initial_banner">
                <div id="presentationText">
                    <h1>Aqui você encontra o que procura :)</h1>
                    <p>Nossa loja oferece a você os melhores livros para florescer sua imaginação.</p>
                    <a type="button"  data-toggle="modal" data-target="#myModal">Cadastre seu Livro</a>
                </div>

                <div id="imgPresentation">
                    <img src="{% static 'images/banner.png' %}"
                        alt="Ilustração de menino colocando um livro em uma prateleira">
                </div>
            </div>

            <div id="container_cards">
                {% for books in books %}
                <div class="book_card">
                    <img src="{{item.photo.url }}" alt="{{ books.name }}">
                    <h2>{{ books.name }}</h2>
                    <p>Autor:{{books.author }}</p>
                    <p>Sinopse:{{ books.sinopse }}</p>
                    <p>Status:{{ books.status }}</p>
              
                    <div id="presentationText">
                    <a href="/reservar/{{ books.id }}">Reservar</a>

                </div>
            </div>
                {% endfor %}
            </div>
            <div id="myModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1>Titulo</h1>
                    </div>
                    <div class="modal-body">
                        <div class="modal-edit">
                            <form action="{% url 'salvar' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="name">Nome do Livro:</label>
                                  <input type="text" class="form-control" id="email" placeholder="" name="name">
                                </div>
                                <div class="form-group">
                                  <label for="name">Author:</label>
                                  <input type="text" class="form-control" id="pwd" placeholder="" name="author">
                                </div>
                                <div class="form-group">
                                  <label for="name">Sinopse:</label>
                                  <input type="text" class="form-control" id="pwd" placeholder="" name="sinopse">
                                </div>
                                  <label for="name">Status:</label>
                                  <input type="text" class="form-control" id="pwd" placeholder="Disponível ou Indiponível" name="status">
                                </div>
                                <div class="modal-footer">
                                    <button href="/books"type="submit" class="btn btn-default">Submit</button>
                                  </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
                
                </div>
              </div>
        </div>

            <div id="about_us" class="text-center">
                <h3>Sobre nós</h3>
                <p>A <strong>Livraria Futuro</strong> foi criada pelos alunos do curso de <strong>Análise e Desenvolvimento de Sistemas</strong> da faculdade <strong>Unirriter</strong> campus Fapa em Porto Alegre, RS.</p>
                <br>
                <div id="group">
                    <div>
                        <img src="{% static 'images/Leonardo.jpg' %}" alt="">
                        <p>Adri</p>
                    </div>
                    <div class="team_photo">
                        <img src="{% static 'images/leonardo.jpg' %}" alt="">
                        <p>Leonardo Carvalho</p>
                    </div>
                    <div>
                       <img src="{% static 'images/Leonardo.jpg' %}" alt=""> 
                        <p>Mari</p>
                    </div>
                </div>
                <br><br>
                <p>A iniciativa surgiu através do desenvolvimento de um projeto avaliativo da disciplina de Sistemas Distribuídos e Desenvolvimento Web, Mobile, Jogos e busca trazer conceitos como criação e consumo de API com Python e Djando, assim como html e css.</p>
                <p>Acreditamos que o conhecimento é um direito de todes, que todes devem ter a oportunidade de aprender e crescer com uma plataforma online que conecta pessoas que querem <i><strong>doar livros</strong></i> com pessoas que <i><strong>precisam deles</strong></i></p>
                <p>Nosso objetivo é tornar o conhecimento acessível a todos, independentemente de sua classe social, localização ou situação financeira e trabalhamos para garantir que tudo seja realizado de forma segura e transparente.</p>
                <p class="text-uppercase"><strong>Doe um livro, transforme uma vida.</strong></p>
                <p>Junte-se a nós nessa missão de tornar o conhecimento acessível a todos.</p>
            </div>
        </main>
    </div>

    <footer id="footer">
        <div id="footer_container">
            <div id="footer_informaiton">
                <h3 id="info_title">Contato</h3>

                <div id="infos">
                    <img class="infos_icon contact" src="{% static 'images/icons/phone.svg' %}" alt="Ícone de telefone">
                    <p id="infos_text">(55) 51 0000-0000</p>
                </div>

                <div id="infos">
                    <img class="pointer infos_icon contact" src="{% static 'images/icons/email.svg' %}"
                        alt="ícone de carta">
                    <p class="pointer" id="infos_text">livrariafapa@email.com</p>
                </div>
            </div>

            <div id="footer_informaiton">
                <h3 id="info_title">Redes Sociais</h3>

                <div id="infos" class="pointer">
                    <img class="infos_icon social_media" src="{% static 'images/icons/instagram.png' %}"
                        alt="Logo do instagram">
                    <p id="infos_text">@livrariaFapa</p>
                </div>

                <div id="infos" class="pointer">
                    <img class="infos_icon social_media" src="{% static 'images/icons/facebook.svg' %}"
                        alt="Logo do Facebook">
                    <p id="infos_text">Livraria Fapa</p>
                </div>
            </div>

            <div id="footer_phrase">
                <a class="logo" href="#">
                    <img class="infos_icon" src="{% static 'images/logo_white.png' %}" alt="Ilustração de livro aberto">
                    <span id="footer_logo">Livraria Fapa</span>
                </a>
                <p>Os livros nos levam a lugares inimagináveis, com eles tudo é possível.</p>
            </div>
        </div>
    </footer>
</body>

</html>